CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build*
cmake-build-minsizerel
cmake-build-release
cmake-build-relwithdebinfo
out
.vs
.idea